/* General Appearances */
html, body {
	background-color: #edefed;
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	line-height: 1;
}

div {
	border: 1px solid chocolate; 
}

ul {
	list-style: none;
	padding: 0;
}

.content {
	color: #05080d;
}

/* Navigation Menu */
.navigation {
	font-family: 'Muli', sans-serif;
	font-size: 1.5em;
	margin: 0 2rem;	
}

.navigation .pages {
	float: right;
	margin-top: 1.5rem;
}

.navigation .pages li {
	display: inline-block;
	margin-left: 1.5rem;
}

.navigation .pages > .active {
	font-weight: 400;
}

.navigation .pages li:hover {
	color: #2d383a;
	cursor: pointer; 
}

/* Logo Appearance */
h3 {
	color: #05080d;
}

/* Masthead Appearance */
.masthead {
	background-image: url('../images/masthead-background.jpg')
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20rem;
}