/* General Appearances */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	line-height: 1;
	background-color: #edefed; 
}

*, *:before, *:after {
	box-sizing: inherit;
}

div {
	border: 1px solid chocolate; 
}

ul {
	list-style: none;
	padding: 0;
}

hr {
	background-color: #05080d;
	margin-left: 4rem; 
	height: 3px;
}

.content {
	color: #05080d;
	min-width: 37.9rem;
	width: 1400px;
	padding: 0 0.938rem;
	margin: 0 auto;
}

/* Masthead Appearance */
.masthead{
	font-family: 'Muli', sans-serif;
	font-size: 1.5em;
}

.container {
	background-image: url('../images/masthead-background.JPG'); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50rem;
	z-index: -1;
	overflow: hidden;
	max-height: 800px;
}

.container > div {
	float: left;
	width: 100%;
	height: 50rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cloud {
	background-image: 
	url('../images/cloud-1.png'),
	url('../images/cloud-2.png'),
	url('../images/cloud3.png'),
	url('../images/cloud4.png');
	background-blend-mode: multiply; 
	background-size: cover; 
}

@keyframes cloudsTest {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

.cloud img.cloud1 {
	animation-name: cloudsTest;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 20s;
	animation-direction: alternate;
}

.cloud img.cloud2 {
    animation-name: cloudsTest;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 20s;
	animation-direction: alternate;
    /*transform: translate(0,-1350px);
    -webkit-transform: translate(0,-1350px);
    -o-transform: translate(0,-1350px); 
    -moz-transform: translate(0,-1350px);*/
}

/* Navigation Menu */
.main-navbar .links {
	float: right;
	margin-top: 1.9rem;
}

.main-navbar .links li {
	display: inline-block;
	margin-left: 1.5rem;
	transition: color 0.5s ease;
}

.main-navbar .links > .active {
	font-weight: 400;
}

.main-navbar .links li:hover {
	color: #2d383a;
	cursor: pointer; 
}

/* Logo Appearance */
img.logo {
	display: inline-block;
	margin-top: 1.2rem;
}


/* Masthead Text */
h1 {
	font-family: 'Philosopher', sans-serif;
	font-size: 6rem;
	color: #edefed;;
}	

/* About components */
.forty {
	margin-bottom: 1rem;
	margin-top: -5rem;
	overflow: auto;
}

.about .overlapimg {
	float: right;
	width: 40%;
	height: 32rem;
	background-color: #4c6166;
	overflow: auto;
}

h3 {
	font-family:; 'Philosopher', sans-serif;
	font-size: 4rem;
	text-align: center;
	margin-top: 12rem;
	color: #edefed;
}

.about .describe {
	height: 25rem;
	width: 60%;
	float: left;
	margin-top: 5rem;
}

p {
	font-family: 'Muli', sans-serif;
	font-size: 1.4rem;
	color: #05080d;
	text-align: center;
	margin-top: 4rem;
	padding: 0 5rem;
}

/* Pattern/Grid */
.pattern {
	border-bottom: #808080;
	margin-bottom: 2rem;
	margin-top: 3rem;
	overflow: hidden;
}

.grid {
	overflow: hidden;
	margin: 0 auto;
	padding: 1em 0 0 1em;
}

.grid li {
	padding: 0 1em 1em 0;
}

.grid li > div {
	background: #808080;
	padding: 10em 2em;
	text-align: center;
}

.grid li a {
	color: #fff;
}

/* Footer Appearance */
.connect {
	background-color: #4c6166;
	text-align: center;
	padding-bottom: 5rem;
	overflow: auto;
}

.connect p {
 	color: #edefed;
 	font-size: 1.2rem;
 }

/* Social Icons */
 .connect .icons >li {
 	display: inline-block;
    border: 3px solid #edefed;
    border-radius: 4rem;
    width: 4rem;
    height: 4rem;
    margin: 1.25rem 15px;
    text-align: center;
    padding: 0.9rem 0;;
 }

 .connect .icons >li:hover {
 	cursor: pointer;
 }

 .connect .linkedin,
 .connect .behance,
 .connect .instagram {
 	color: #edefed;
 }

 /* Media Edits */
 @media all and (min-width: 27em) {
	.grid li {
		width: 50%;
		float: left;
	}
}
		
@media all and (min-width: 40em) {
	.grid li {
		width: 33.3333333%;
	}
	.grid li.wide {
		width: 66.666666%;
	}
}
@media all and (min-width: 60em) {
	.grid li {
		width: 33%;
	}
	.grid li.wide {
		width: 50%;
	}
}