/* General Appearances */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	line-height: 1;
	background-color: #edefed; 
}

*, *:before, *:after {
	box-sizing: inherit;
}

div {
	/*border: 1px solid chocolate;*/ 
}

ul {
	list-style: none;
	padding: 0;
}

hr {
	background-color: #05080d;
	margin-left: 4rem; 
	height: 3px;
}

img {
	border: 0;
	vertical-align: middle;
}

h1, h2 {
	font: 28px/28px 'Open Sans Condensed', sans-serif;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 100;
}

h3 {
    color: #E0b964;
    font: 20px/20px 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
}

p {
	font: 16px/16px 'Open Sans Condensed', sans-serif;
	letter-spacing: 1.5px;
	margin: 0;
	padding: 0;
}

input:hover {
	cursor: pointer;
}


a.active {
	color: #E0b964;
}

.width {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 960px;
}

/* Fixed Nav-bar */
#container > header {
	background: #4c6166;
	border-bottom: 5px solid #d0d0d0;
	box-shadow: 0 1px 0 #b1b0b0;
	height: 72px;
	position: fixed;
	z-index: 5;
	width: 100%;
	opacity: 0.8;
}

a {
	color: #000;
	text-decoration: none;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in; 
}

a:visited {
	color: #000;
}

#container > header hgroup {
	float: left;
	line-height: 60px;
	height: 60px;
	position: relative;
	padding-left: 140px;
}

#container > header hgroup:before {
	background: url('../images/quill-logo-finished.png') center 4px no-repeat;
	border: none;
	content: '';
	height: 140px;
	padding: 5px;
	position: absolute;
	left: 0px;
	top: -25px;
	width: 130px;
}

#container > header a hgroup h1 {
	color: #E0b964;
}

#container > header hgroup h1 {
	color: #E0b964;
	float: left;
	line-height: 38px;
	margin-right: 10px;
	font: 30px;
}

#container > header hgroup h2 {
	color: #000;
	float: left;
	line-height: 25px;
	margin-right: 10px;
	font-size: 24px;

}

/*Buttons nav-bar */
#container > header nav {
	float: right;
	display: block;
	margin-top: 4px;
}

#container > header nav a {
	font: 28px/28px 'Open Sans Condensed', sans-serif;
	letter-spacing: 1px;
	line-height: 60px;
	margin-left: 25px;
	text-transform: uppercase;
}

#container > header nav a.active {
	color: #E0b964;
} 

/* Image with moving Clouds */
.masthead {
	background-image: url('../images/masthead-background.JPG'); 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	overflow: hidden;
	max-height: 700px;
}

.cloudyday {
	position: relative;
	height: 50rem;
	width: 100%;
	margin: 0 auto 10px;
}

img.highlight {
   	display: block;
	top:0; bottom:0; left:0; right:0;
	margin: 0 auto;
    height: 400px;
    margin-top: 250px;
}

.cloudyday img {
	position: absolute;	
	left: 0;
}

img.cloud-1, img.cloud-2, img.cloud-3, img.cloud-4 {
    height: 50rem;
    width: 100%;
    animation-name: cloudsTest;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 20s;
	animation-direction: alternate;
}

@keyframes cloudsTest {
  0% {
  opacity:0;
}
45% {
opacity:0.3;
}
55% {
opacity:0.5;
}
100% {
opacity:1;
}
}

img.cloud-2 {
	transform: translate(0,-1350px);
    -webkit-transform: translate(0,-1350px);
    -o-transform: translate(0,-1350px); 
    -moz-transform: translate(0,-1350px);*/
} 

/* Pattern Porfolio Field */
.pattern {
	float: left;
	position: relative;
	width: 100%;
	padding: 30px 0 0;
}

.pattern article {
	background: #d0d0d0;
	border: 1px solid #b9b9b9;
	border-radius: 150px;
	float: left;
	margin: 0 0 30px 30px;
	overflow: hidden;
	padding: 9px;
	position: relative;
	transition: all 0.2s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	width: 300px;
	height: 300px;
}

.pattern article:hover {
	background: #4c6166;
	transition: 0.1s ease-in;
}	

.pattern article:nth-child(3n+1) {
	clear: left;
	margin-left: 0;
}

.pattern article header {
	position: relative;
	width: 280px;
	height:280px;
	z-index: 2;
}

.pattern article header .details {
	background: #4c6166;
	padding: 15px 0;
	position: absolute;
	top: 170px;
	left: -10px;
	text-align: center;
	width: 300px;
	opacity: 0.9;
	padding: 2px 30px;
	height: 200px;
	display: none;
}

.pattern article:hover header .details {
	display:unset;
	transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}

.pattern article header .details h3{
	line-height: 18px;
	margin-bottom: 10px;
}

.pattern article header .details p{
	color: #E0b964;
	line-height: 16px;
}

.pattern article img {
	border-radius: 140px;
	position: absolute;
	top: 9px;
	left: 9px;
}

/* Hover image shows */
.pattern article img.clr {
	display: none;
}

.pattern article:hover img.clr {
	display: unset;
	transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}


.pattern article:hover img.bw {
	display: none;
	transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
}

/* Footer Appearance */
footer {
	background-color: #4c6166;
	border-top: 5px solid #d0d0d0;
	box-shadow: 0 -1px 0 #b1b0b0;
	padding: 30px 0px 0 0;
	overflow: auto;
	position: relative;
	height: 500px;
	width: 100%;
}

footer h1 {
	margin-bottom: 20px;
}

/* Footer About */
footer .about {
	width: 550px;
	float: left;
	padding: 10px;
}

footer .about p {
	color: #edefed;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
	font-weight: 200;
	padding: 10px;
}

footer .about.icons {
	display: block;
	top:0; bottom: 0; left:0; right: 0;
	margin: 0 auto;
}

/* Footer Lets have a chat */
footer .letschat {
	padding: 0;
	position: relative;
	width: 410px;
	float: left;
	margin-bottom: 40px;
	padding: 10px;
}

footer .letschat form > h2 {
	color: #E0b964;
	font-size: 16px;
}

input {
	width: 380px;
	background-color: #edefed;
	border: 1px solid #edefed;
	border-radius: 5px;
	height: 30px;
}

input.submit {
    width: 70px;
    font: 16px/16px 'Open Sans Condensed', sans-serif;
    padding: 5px;
    margin-top: 6px;
    background-color: #73868a;
    border: 3px solid #edefed;
    border-radius: 70px;
    color: #edefed;
    text-transform: uppercase;
    height: 70px;
}

input.submit:hover {
	color: #E0b964;
	border: 3px solid #E0b964;
}

textarea {
	width: 380px;
}

/* Social Icons */
i.fa.fa-linkedin.fa-2x,
i.fa.fa-behance.fa-2x, 
i.fa.fa-github.fa-2x {
 	display: inline-block;
 	background-color: #73868a;
    border: 3px solid #edefed;
    border-radius: 4rem;
    width: 4rem;
    height: 4rem;
    margin: 1.25rem 15px;
    text-align: center;
    padding: 0.9rem 0;;
    float: left;
    color: #edefed;
 }

i.fa.fa-linkedin.fa-2x:hover,
i.fa.fa-behance.fa-2x:hover,
i.fa.fa-github.fa-2x:hover {
 	color: #E0b964;
 	border: 3px solid #E0b964;
 	cursor: pointer;
 }

 /* NoMAD page */
 img.nomad {
 	width: 800px;
 	margin-top: 80px;
}

.nomadtext > h2 {
	text-align: center;
	color: #2C2C54;
	text-transform: none;
	font-size: 20px;
}

/* <====== Media Queries =====================================> */

/* 960px or smaller */
/* e.g. iPad Portrait */
/* Portfolio with 2 column layout */
@media only screen and (max-width: 960px) {
	#container {
		padding: 0;
	}
	
	.width {
		padding: 0 2%;
		width: 98%;
	}

	/*== Header ==*/
	#container > header hgroup h1 {
		font-size: 30px;
		margin-top: 16px;
	} 
	
	#container > header hgroup h2 {
		display: none;
	}

	/* == Masthead Image ==*/
	.masthead {
		max-height: 500px;
	}

	img.highlight {
		margin-top: 80px;
	}

	img.cloud-1, img.cloud-2, img.cloud-3, img.cloud-4 {
		max-height: 500px;
	}

	/* == Grid Pattern Projects ==*/
	.pattern {
		float: none;
		top: 0; bottom:0; left:0; right:0;
		margin: 0 auto;
		position: relative;
		width: 630px;
	}

	.pattern .width {
		padding: 0;
		width: 100%;
	}

	.pattern article {
		background-color: #4c6166;
	}

	.pattern article:nth-child(3n+1) {
		clear: none;
		margin-left: 30px;
	}

	.pattern article:nth-child(2n+1) {
		clear: left;
		margin-left: 0;
	}

	.pattern article header .details {
		display: unset;
	}

	/*== Footer ==*/
	footer {
		padding: 30px 0;
		width: 100%;
	}
	
	footer .about {
		width: 100%;
	}

	footer .letschat {
		width: 100%;
	}
	
	footer .letschat input[type=text],
	footer .letschat textarea {
		padding: 7px 2%;
		width: 96%;
	}
}

/* 630px or smaller */
/* e.g. iPhone Landscape */
/* Portfolio with 1 column layout */
@media only screen and (max-width: 630px) {
	
	#container > header {
		position: relative;
	}

	#container > header nav {
		float: left;
		display: block;
		margin: 0;
		padding-left: 140px;
	}

	#container > header nav a {
		line-height: 20px;
		font-size: 20px;
		margin-left: 10px;
	}

	#container > header nav a.active {
		color: #000;
		margin-left: 0;
	} 

	#container > header hgroup {
		line-height: 40px;
		height: 40px;
	}

	#container > header hgroup h1 {
		margin-top: 5px;
		font-size: 25px;
	}
	
	/*==Masthead Appearance ==*/
	.masthead {
		max-height: 200px;
	}

	img.highlight {
		display: none;
	}

	img.cloud-1, img.cloud-2, img.cloud-3, img.cloud-4 {
		max-height: 250px;
	}

	/*== Grid Appearance ==*/
	.pattern {
		float: left;
		margin: 0;
		position: relative;
		width: 100%;
		padding: 2px 6px;
	}

	.pattern article {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		background-color:  #edefed;
		border: 0;
		border-bottom: 1px dotted #dcdcdc;
		border-radius: 0;
		float: left;
		margin: 0 0 10px;
		overflow: hidden;
		padding: 0 0 10px 0;
		position: relative;
		width: 100%;
		height: auto;
	}		
	
	.pattern article:hover {
		background: none;
		border: 0;
		border-bottom: 1px solid #dcdcdc;
	}
	
	.pattern article:nth-child(3n+1) {
		clear: left;
		margin-left: 0;
	}

	.pattern article:last-child {
		border-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.pattern article a {
		display: block;
	}

	.pattern article a:hover {
		border: 0;
	}

	.pattern article .photo {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		background: #d0d0d0;
		border: 1px solid #b9b9b9;
		border-radius: 50%;
		display: inline-block;
		padding: 4px;
		position: relative;
		top: 0;
		left: 0;
		width: 40%;
		height: auto;
	}

	.pattern article img {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		border-radius: 50%;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
	}

	.patter article img.clr {
		display: none;
	}

	.pattern article header {		
		mask-image: none;
		-webkit-mask-image: none;
		-o-mask-image: none;
		-moz-mask-image: none;
		position: absolute;
		left: 45%;
		top: 10%;
		width: 55%;
		height: auto;
	}
			
	.pattern article header .details {
		background: none;
		background: none;
		padding: 0;
		position: relative;
		top: 0;
		left: 0;
		text-align: left;
		width: 100%;
		height: auto;
	}

	.pattern article:hover header .details {
		top: 0;
	}

	.pattern article header h1 {
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 5px;
	}
	
	.pattern article header p {
		text-align: center;
		font-size: 20px;
		line-height: 20px;
	}

	footer {
		margin-top: 7px;
	}

	footer .width {
		padding: 0 4%;
	}

	footer .about {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		width: 100%;
	}

	footer .about, footer .letschat {
		margin-top: 6px;
	}
}


/* 480px or smaller */
/* e.g. iPhone Landscape */
/* Portfolio with 1 column layout */
@media only screen and (max-width: 480px) {

}
